:root {
    --featured-image-height: 500px;

    --theme-gradient: linear-gradient(to right, #8077ff, #4b9c54, #965555);

    --background-colour: #D9D9D9;
    --text-highlight: #3f3f3f;
    --feature-price-colour: #ba0000;
    
    --colour-primary: #009A26;
    --colour-secondary: #999999;

    --colour-primary-hover: #3bcd5f;
    --colour-secondary-hover: #dbdbdb;

    --colour-primary-select: #00771e;
    --colour-secondary-select: #6d6d6d;

    --button-width: 300px;
}

* {
    font-family: Bahnschrift, sans-serif;
    box-sizing: border-box;
}

header {
    width: 100lvw;
    margin: 0;
    display: flex;
    align-items: center;
    background-image: var(--theme-gradient);
    color: white;
    position: fixed;
}

body {
    margin: 0;
}

input {
    width: 100%;
    padding: 10px;
    border-width: 0px 0px 2px 0px;
}

input:focus {
    border-color: var(--colour-primary);
    outline: none;
}

#header-buffer {
    height: 75px;
}

#logo {
    width: 120px;
    height: 75px;
    cursor: pointer;
}

#search {
    width: 80%;
    display: inline-block;
    justify-content: center;
    text-align: center;
    display: flex;
    gap: 5px;
}

#searchbar {
    padding: 15px;
    width: 50%;
    height: 50px;
    border-radius: 15px;
    border: none;
}

#notification-banner {
    position: fixed;
    width: 50%;
    left: 25%;
    margin: 10px;
    padding: 5px;
    background-image: var(--theme-gradient);
    border-radius: 5px;
    color: white;
    text-align: center;
    transition-property: bottom;
    transition-duration: 0.1s;
    transition-timing-function: linear;
}

.notification-banner-shown {
    bottom: 10px;
}

.notification-banner-hidden {
    bottom: -75px;
}

.inline-block {
    display: inline-block;
}

.left {
    float: left;
}

.right {
    float: right;
}

.clear {
    clear: both;
}

.platform-chip {
    width: 100px;
    height: 25px;
    padding: 5px;
    text-align: center;
    font-size: 9pt;
    background-color: var(--background-colour);
    border-radius: 5px;
    display: inline-block;
}

.platform-chip p {
    margin: auto 0;
}

.platform-toggle {
    width: 50px;
    height: 50px;
    border-radius: 15px;
    background-color: white;
    border: none;
    cursor: pointer;
}

.platform-img {
    width: 25px;
    height: 25px;
}

.platform-toggle-off {
    background-color: var(--background-colour);
    border: 2px solid white;
}

.account-button {
    background: none;
    border: none;
    outline: none;
    font-size: 12pt;
    color: white;
}

.account-button:hover {
    color: var(--text-highlight);
    cursor: pointer;
}

.wishlist-add, .wishlist-remove {
    background-color: var(--colour-secondary);
    color: white;
    width: 25px;
    height: 25px;
    text-align: center;
    padding: 5px;
    border-radius: 12px;
    font-size: 11pt;
    cursor: pointer;
}

.wishlist-add:hover, .wishlist-remove:hover {
    background-color: var(--colour-secondary-hover);
}

.button {
    width: 300px;
    height: 40px;
    border: none;
    border-radius: 5px;
    font-size: 16pt;
    display: block;
}

.primary {
    background-color: var(--colour-primary);
    color: white;
}

.primary:hover {
    background-color: var(--colour-primary-hover);
}

.primary:active {
    background-color: var(--colour-primary-select);
}

.secondary {
    background-color: var(--colour-secondary);
}

.secondary:hover {
    background-color: var(--colour-secondary-hover);
}

.secondary:active {
    background-color: var(--colour-secondary-select);
}

.hidden {
    display: none;
}