:root {
    --featured-image-width: 60%;
    --featured-image-height: 500px;

    --background-colour: #D9D9D9;
    --text-highlight: #3f3f3f;
    --feature-price-colour: #ba0000;
    
    --colour-primary: #009A26;
    --colour-secondary: #999999;

    --colour-primary-hover: #3bcd5f;
    --colour-secondary-hover: #dbdbdb;

    --colour-primary-select: #00771e;
    --colour-secondary-select: #6d6d6d;
}

* {
    font-family: Bahnschrift, sans-serif;
    box-sizing: border-box;
}

body {
    margin: 0;
}

main {
    
}

header {
    width: 100lvw;
    background-color: var(--background-colour);
    margin: 0;
    display: flex;
    align-items: center;
}

#logo {
    width: 120px;
    height: 75px;
}

#search {
    width: 80%;
    display: inline-block;
    text-align: center;
}

#searchbar {
    padding: 15px;
    width: 50%;
    height: 50px;
    border-radius: 15px;
    border: none;
}

#feature-image {
    width: 100%;
    height: var(--featured-image-height);
}

#feature-image-container {
    width: var(--featured-image-width);
}

#feature-details {
    width: calc(100% - var(--featured-image-width));
    padding: 25px;
}

#feature-price {
    color: var(--feature-price-colour);
    font-size: 36pt;
    margin-bottom: 5px;
}

#feature-more-button {
    margin-top: 30px;
}

.card-title {
    margin-bottom: 5px;
}

.card-price {
    color: var(--feature-price-colour);
    font-size: 24pt;
    margin-top: 5px;
    margin-bottom: 5px;
}

.inline-block {
    display: inline-block;
}

.left {
    float: left;
}

.right {
    float: right;
}

.clear {
    clear: both;
}

.deal-section {
    padding: 25px;
    margin-bottom: 10px;
}

.card-container {
    display: flex;
    gap: 20px;
    overflow-x: scroll;
}

.deal-card {
    width: 230px;
    padding: 10px;
}

.deal-card img {
    width: 210px;
    height: 300px;
    outline: 1px solid gray;
}

.feature-content {
    margin: 5px 0;
}

.platform-chip {
    width: 100px;
    height: 25px;
    padding: 5px;
    text-align: center;
    font-size: 10pt;
    background-color: var(--background-colour);
    border-radius: 5px;
}

.platform-chip p {
    margin: auto 0;
}

.platform-toggle {
    width: 50px;
    height: 50px;
    border-radius: 15px;
    background-color: white;
    border: none;
}

.account-button {
    background: none;
    border: none;
    outline: none;
    font-size: 12pt;
}

.account-button:hover {
    color: var(--text-highlight);
    cursor: pointer;
}

.button {
    width: 300px;
    height: 40px;
    border: none;
    border-radius: 5px;
    font-size: 16pt;
    display: block;
}

.primary {
    background-color: var(--colour-primary);
    color: white;
}

.primary:hover {
    background-color: var(--colour-primary-hover);
}

.primary:active {
    background-color: var(--colour-primary-select);
}

.secondary {
    background-color: var(--colour-secondary);
}

.secondary:hover {
    background-color: var(--colour-secondary-hover);
}

.secondary:active {
    background-color: var(--colour-secondary-select);
}